# ========== Python ==========
__pycache__/
*.py[cod]
*.so

# ========== Virtual Environments ==========
env/
.venv/
venv/

# ========== IDE Configs ==========
.vscode/
.idea/

# ========== Streamlit ==========
.streamlit/
*.pyc

# ========== OS Generated ==========
.DS_Store
Thumbs.db

# ========== Logs / Cache ==========
*.log
*.sqlite3
*.db
*.cache/
.cache/

# ========== Notebooks ==========
.ipynb_checkpoints/
